<tr>
  <td class="mid_align"><%= test_passage.user.login %></td>
  <td class="mid_align"><%= test_passage.test.title %></td>
  <td class="mid_align"><%= test_passage.test.category.title %></td>
  <td class="mid_align"><%= test_passage.updated_at %></td>
</tr>
