<img style="display: block; text-align: center; margin-top: 0; margin-bottom: 5px;" src="./test-icon-png-12.jpg"  alt="TestGuru" >
<h1 style="text-align: center;color:orange;font-size: 70px;font-family: 'Open Sans',Arial,sans-serif; line-height: 1.05; font-weight:500;
    background-position: center center; border-color: transparent;
    border-style: solid;">TestGuru</h1>
<div style=" display: block;  margin-left: auto;   margin-right: auto; height: 260px; width: 25%;
    font-family: 'Roboto',Arial,sans-serif; font-weight: 300; color: #000;
    text-align: center;background-color: antiquewhite;
    border: 3px solid orange; line-height: 25px;">
<h2>О проекте</h2>
  <p style="padding-top: 15px;">Это рессурс для создания и проведения тестов, <br> создаваемый в рамках учебного процесса на курсе</p>
  <img src="./thinknetica_transpar.png" alt="thinknetica.com">
  <p>Rails-beginner от онлайн-школы <a href ="http://thinknetica.com/" ><b>Thinknetica</b></a></p>
</div>
