<tr>
  <td class="mid_align"><%= link_to(truncate(Question.find_by('id = :id', id: gist.question_id).body, length: 25),admin_question_path(gist.question_id)) %></td>
  <td class="mid_align"><%= link_to(gist.url,gist.url, target: "_blank") %></td>
  <td class="mid_align"><%= User.find_by('id = :id', id: gist.user_id).email %></td>
</tr>
