<p style="text-decoration: none"><%= github_url('ImBigman' , 'test-guru')%> - ресурс для создания и прохождения тестов. © <%= current_year %> by Dmitriy Yarikov</p>
<p><%=link_to "Учебный проект в онлайн-школе Thinknetica", "http://thinknetica.com/", target: "_blank", rel: "nofollow", class: "link" %></p>
