<nav class="top-menu">
  <%=image_tag "/test_logo.png", height: '100', width: '150'%>
  <ul class="menu-main">
    <li><a><%=link_to "testguru", root_path, rel: "nofollow"%></a></li> :::

    <li><a><%=link_to "login", login_path, rel: "nofollow" %></a></li> :::
    <li><a><%=link_to "register", signup_path, rel: "nofollow"%></a></li>
  </ul>
</nav>
