
<div style=" display: block;  margin-left: auto;   margin-right: auto; height: 180px; width: 20%;
    font-family: 'Roboto',Arial,sans-serif; font-weight: 300; color: #000;
    text-align: center;background-color: #eee;
    line-height: 25px;">
  <img style="display: block; text-align: center; margin-top: 0; margin-bottom: 5px;" src="./avatar.png"  alt="ImBigman" >
  <h2>Ученик онлайн-школы</h2>
  <p><a href="https://github.com/ImBigman/Rails">Дмитрий Яриков</a></p>
</div>