<table>
  <tr>
    <th>Question</th>
  </tr>
  <tr>
     <td><% @test.questions.each do |question| %>
        <p> <%= question.body  %> <%= link_to 'Edit', edit_question_path(question) %>
      <% end %></td>
  </tr>
</table>
<%= link_to 'Back', test_path(@test) %>
